
body {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-top: 80px;
	font-size: 14px;
}

header {
	/*border: 1px solid pink;*/
	position: fixed;
  	top: 0;
	left: 0;
	height: 60px;
	background-color: white;
	width: 100%;
	display: inline-block;
	opacity: 1;
}


#logo {
	height: 50px;
	margin: 10px;
}

#name {
	/*border: 1px solid purple;*/
	font-family: 'Roboto Slab', serif;
	margin-bottom: 20px;
	display: inline-block;
	position: absolute;
	top: 0px;
}

#welcome {
	/*border: 1px solid green;*/
	display: inline-block;
	position: absolute;
    right: 0px;
    width: 200px;
    padding: 10px;
}

.emlContainer {
	/*border: 1px solid red;*/
	height: auto px;
	width: auto px;
	max-width: 900px;
	padding: 10px;
	margin: 5px;
	margin-left: 25%; 
}


.emlContainer:hover{
	background-color: lightgrey;
}

.emlSender {
	/*border: 1px solid purple;*/
	display: inline-block;
 	width: 33%;
 	text-align: left;
}


.emlSubject {
	/*border: 1px solid green;*/
	display: inline-block;
  	width: 33%;
  	text-align: center;
}

.emlDate {
	/*border: 1px solid orange;*/
	display: inline-block;
  	width: 33%;
  	text-align: right;
}

.emlBody {
	/*border: 1px solid coral;*/
	color: grey;
	margin-left: 20px;
	font-size: 12px;
	font-weight: normal;
	margin: 1em;
}

@media screen and (min-width:600px){
	nav {
	    /*border: 1px solid black;*/
	    position: fixed;
	    width: 25%;
	}
}

nav ul {
    list-style-type: none;
    padding: 1em;
    margin-left: 20px;
}

@media screen and (max-width:599px){
	nav li {
		display: inline;
}

